<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Receipt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>

<body class="bg-white text-black dark:bg-black dark:text-white">
  <div class="container">
    <h1>Receipt Image</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file">
      <input type="submit" value="Upload">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
</body>

</html>