<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Receipt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>

<body class="bg-charcoal text-sky flex justify-center h-screen text-center">
  <div class="flex flex-col items-center space-y-4 border-collapse">
    <h1>Receipt Image</h1>
    <form method="post" enctype="multipart/form-data" class="flex flex-col items-center space-y-4 border-collapse">
      <input type="file" name="file" id="file" class="block w-full file:rounded-md file:border-0 file:bg-rust file:p-1">
      <input type="submit" value="Upload" class="block w-full border p-4 rounded-md text-rust bg-sky">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="w-full mx-auto">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </div>
</body>

</html>